<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flask訊息閃現</title>
</head>
   <body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>註冊失敗</strong> <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

   </body>
</html>