<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>
      
      <div class="header">
         <div class="menu">
            <h1>Full Time</h1>
         </div>
         <form action="{% url 'fulltime' %}" method="POST">
            {% csrf_token %}
            <select id="cars" name="area">
               <option value="">地區</option>
               <option value="100100">台北市</option>
               <option value="100200">新北市</option>
               <option value="100300">基隆市</option>
               <option value="100500">桃園市</option>
               <option value="100600">新竹市</option>
               <option value="100700">新竹縣</option>
               <option value="100800">苗栗縣</option>
               <option value="100900">台中市</option>
               <option value="101100">南投縣</option>
               <option value="101200">彰化縣</option>
               <option value="101300">雲林縣</option>
               <option value="101400">嘉義市</option>
               <option value="101500">嘉義縣</option>
               <option value="101600">台南市</option>
               <option value="101800">高雄市</option>
               <option value="102000">屏東縣</option>
               <option value="100400">宜蘭縣</option>
               <option value="102100">花蓮縣</option>
               <option value="102200">台東縣</option>
               <option value="102300">澎湖縣</option>
               <option value="102400">金門縣</option>
               <option value="102500">連江縣</option>
            </select>
            <input type="text" name="keyword" size="4" placeholder="關鍵字" value="">
            <input type="text" name="page" size="4" placeholder="頁數" value="">
            <input type="submit" value="search">
         </form>
         <div class="fullimejob">
            {% for FTjob in FTjob%} 
            <div class="WorkArea"> 
               {{FTjob.0}}
            </div>  
            <div class="company"> 
               {{FTjob.2}}
            </div>
            <div class="time"> 
               {{FTjob.1}}
            </div>
            <div class="title"> 
               <div class="href"> 
                  <a href="{{FTjob.5}}">{{FTjob.3}}</a>
               </div>
            </div>
            <div class="saraly"> 
               {{FTjob.4}}
            </div>
            <input type="button" value="應徵"><br>
            <br>
            {% endfor%}
         </div>
   </body>
</html>
