{% load static %}
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>
      <div class="header">
         <div class="examinations">
            <h1>Examinations</h1>
            <div class="dropdown-content01">
               <form action="/main/govresource/" method="POST">
                  {% csrf_token %}
                  <label for='DK'><input type='radio' id='DK' name='category' value='DK' checked>專業知識領域類</label>
                  <label for='OS'><input type='radio' id='OS' name='category' value='OS' >作業系統類</label>
                  <label for='DA'><input type='radio' id='DA' name='category' value='DA' >資料庫應用類</label>
                  <label for='OA'><input type='radio' id='OA' name='category' value='OA' >辦公軟體應用類</label>
                  <input type='submit' value='搜尋'>
               </form>
            </div>
            {% for examlist in examlist%}
               <div class="exam_category"> 
                  <h3>{{examlist.0}}<h3>
               </div>
               <div class="exam_title"> 
                  官方連結：<a href="{{examlist.2}}">{{examlist.1}}</a>
               </div>
               <div class="recommend_classes"> 
                  您可能需要：
                  <div class="Books_img"> 
                     {%if examlist.3 == '雲端練功坊輔考專用線上練習系統'%}
                        <a href="https://cloud.csf.org.tw/"><img width="140" alt="{{examlist.3}}" src="{{examlist.4}}"></a>
                     {% else %}
                        <a href="/main/search_book?keyword={{examlist.3}}"><img width="140" alt="{{examlist.3}}" src="{{examlist.4}}"></a>
                     {%endif%}
                  </div>
               </div>
            <br>
            {% endfor%}
            <a href="/main/index"><button>返回首頁</button></a>
         </div>
      </div>
   </body>
</html>