{% load static %}
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>
      <div class="header">
         <div class="examinations">
            <h1>Examinations</h1>
            {% for examlist in examlist%}
               <div class="exam_category"> 
                  {{examlist.0}}
               </div>
               <div class="exam_title"> 
                  官方連結：<a href="{{examlist.2}}">{{examlist.1}}</a>
               </div>
               <div class="recommend_classes"> 
                  <form action="{% url 'search_book' %}" method="POST">
                     {% csrf_token %}
                     您可能需要：{{examlist.3}}
                     <input type="hidden" name="keyword" value="{{examlist.3}}">
                     <input type="submit" value="搜尋">
                  </form>
               </div>
            <br>
            {% endfor%}
            <a href="/main/index"><button>返回首頁</button></a>
         </div>
      </div>
   </body>
</html>