<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message}}');

            </script>
            {% endfor %}
        {% endif %}
   <div class="header">
        <div class="logo">
            <a href="/main/index"><h1 class="title">人才培訓進修網</h1></a>
        </div>
        <div class="menu">
            <ul class="submenu">
                <li><a href="">首頁</a></li>
                <li><a href="#">最新公告</a></li>
                <li><a href="/main/companyjobs_edit/">企業專區</a></li>
                <li><a href="/main/resume_style/">填寫履歷</a></li>
                {% if status %}
                    <li><a href="/main/login">{{status}}</a></li>
                {% else %}
                    <li><a href="/main/login">登入</a></li>
                {% endif %}
                <li><a href="/main/logout">登出</a></li>
            </ul>
        </div>
   </div>
   <div class="mainbox">
        <div class="mainbox01">
            <div class="menu">
                <div class="itme-dropdown01">
                    <li><a href="/main/joblist">職缺搜尋</a></li>
                    <div class="dropdown-content01">
                        <li><a href="/main/partnerjobs">精選職缺</a></li>
                        <li><a href="/main/parttime">我要打工</a></li>
                        <li><a href="/main/fulltime">正職職缺</a></li>
                        <li><a href="/main/search104">104人力銀行推薦</a></li>
                    </div>
                </div>
                <div class="itme-dropdown01">
                    <li><a href="#">書籍搜尋</a></li>
                    <div class="dropdown-content01">
                        <li><a href="#">資料科學</a></li>
                        <li><a href="#">人工智慧</a></li>
                        <li><a href="#">職涯發展</a></li>
                        <li><a href="#">前端開發</a></li>
                        <li><a href="#">網頁設計</a></li>
                        <li><a href="#">網站開發</a></li>
                        <li><a href="#">架站軟體</a></li>
                        <li><a href="#">UI/UX</a></li>
                        <li><a href="#">行動軟體開發</a></li>
                        <li><a href="#">資料庫</a></li>
                        <li><a href="#">系統開發</a></li>
                        <li><a href="#">雲端計算</a></li>
                        <li><a href="#">分散式架構</a></li>
                    </div>
                </div>
                <div class="itme-dropdown01">
                    <li><a href="/main/search_hahow">課程選單</a></li>
                </div>
                <div class="itme-dropdown01">
                    <li><a href="#">政府考試</a></li>
                </div>
                <div class="itme-dropdown01">
                    <li><a href="#">訂購資料</a></li>
                </div>
            </div>
        </div>
        <div class="mainbox02">
        </div>
   </div>

   <div class="footer">
        <div class="footerbox01">
            <div class="submainbox01">
                <div class="titlebox01">
                    <p>服務總覽</p>
                </div>
                <ul class="menubox01">
                    <li><a href="#">履歷範本</a></li>
                    <li><a href="#">招募管理</a></li>
                    <li><a href="#">職場力分析</a></li>
                    <li><a href="#">職涯導航</a></li>
                </ul>
            </div>
            <div class="submainbox02">
                <div class="titlebox02">
                    <p>服務總覽</p>
                </div>
                <ul class="menubox02">
                    <li><a href="#">企業網站</a></li>
                    <li><a href="#">新聞中心</a></li>
                    <li><a href="#">粉絲專業</a></li>
                    <li><a href="#">合作提案</a></li>
                </ul>
            </div>
        </div>
        <div class="footerbox02">
            <div class="submainbox01">
                <div class="titlebox01">
                    <p>徵才服務</p>
                </div>
                <ul class="menubox01">
                    <li>台北：2912-6104</li>
                    <li>台中：7703-3104</li>
                    <li>台南：3700-6104</li>
                    <li>高雄：3625-2631</li>
                </ul>
            </div>
            <div class="submainbox02">
                <div class="titlebox02">
                    <p>粉絲團</p>
                </div>
                    <ul class="menubox02">
                        <li><a href="#"><i class='bx bxl-youtube'   style="color:red"></i></a></li>
                        <li><a href="#"><i class='bx bxl-facebook'  style="color:blue"></i></a></li>
                        <li><a href="#"><i class='bx bxl-twitter'   style="color:lightblue"></i></a></li>
                        <li><a href="#"><i class='bx bxl-discord'   style="color:purple"></i></a></li>
                        <li><a href="#"><i class='bx bxl-instagram' style="color:pink"></i></a></li>
                        <li><a href="#"><i class='bx bxl-linkedin'  style="color:#2994e0"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
   </div>
</body>
</html>