<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>立即登入-人才培訓進修網</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% comment %} <form action = "/main/login/" method = "POST"> {% endcomment %}
    <form action="{% url 'login' %}" method="POST">

        {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message}}');

            </script>
            {% endfor %}
        {% endif %}
    {% csrf_token %}
    <h1>使用者登入</h1>
    <span>請輸入身分證、公司編號或電子郵件：</span><input type="text" name="account" id="">
    <br>
    <span>請輸入密碼：</span><input type="password" name="passwd" id="">
    <br>
    <input type="submit" value="提交"></form>
    <a href="/main/signIn">
        <button>求職者註冊</button>
    </a>
    <a href="/main/company_signIn">
        <button>企業註冊</button>
    </a>
    <a href="/main/index">
        <h6>返回首頁</h6>
    </a>
    </a>
    <h6>登入問題回報</h6>
    <a href="/main/reset">
    <h6>忘記帳號或密碼</h6>
    </a>
    <h6>或使用其他帳戶登入</h6>
    <input type="button" value="Sign Up With Apple">
    <input type="button" value="Sign Up With facebook">
    <input type="button" value="Sign Up With google">

</body>
</html>