
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <form action = "/main/login/" method = "POST"> {% endcomment %}
    <form action="{% url 'login' %}" method="POST">

        {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message}}');

            </script>
            {% endfor %}
        {% endif %}
    {% csrf_token %}
    <h1>登入畫面</h1>
    <span>請輸入身分證或電子郵件：</span><input type="text" name="account" id="">
    <br>
    <span>請輸入密碼：</span><input type="password" name="passwd" id="">
    <br>
    <input type="submit" value="提交"></form>
    <a href="/main/signIn">
        <button>註冊</button>
    </a>
    <h6>登入問題回報</h6>
    <a href="/main/reset">
    <h6>忘記帳號或密碼</h6>
    </a>
    <h6>或使用其他帳戶登入</h6>
    <input type="button" value="Sign Up With Apple">
    <input type="button" value="Sign Up With facebook">
    <input type="button" value="Sign Up With google">

</body>
</html>