<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>

      <div class="header">
         <div class="menu">
            <h1>Part Time</h1>
         </div>
         <form action="{% url 'parttime' %}" method="POST">
            {% csrf_token %}
            <select id="cars" name="area">
               <option value="">地區</option>
               <option value="Taipei">台北市</option>
               <option value="NewTaipei">新北市</option>
               <option value="Keelung">基隆市</option>
               <option value="Taoyuan">桃園市</option>
               <option value="HsinchuCity">新竹市</option>
               <option value="HsinchuCounty">新竹縣</option>
               <option value="Miaoli">苗栗縣</option>
               <option value="Taichung">台中市</option>
               <option value="Changhua">彰化縣</option>
               <option value="Nantou">南投縣</option>
               <option value="Yunlin">雲林縣</option>
               <option value="ChiayiCity">嘉義市</option>
               <option value="ChiayiCounty">嘉義縣</option>
               <option value="Tainan">台南市</option>
               <option value="Kaohsiung">高雄市</option>
               <option value="Pingtung">屏東縣</option>
               <option value="Yilan">宜蘭縣</option>
               <option value="Hualien">花蓮縣</option>
               <option value="Taitung">台東縣</option>
               <option value="Penghu">澎湖縣</option>
               <option value="Kinmen">金門縣</option>
               <option value="Lienchiang">連江縣</option>
            </select>
            <input type="text" name="keyword" size="4" placeholder="關鍵字" value="">
            <input type="submit" value="search">
         </form>
      <div class="partimejob">
         <h2>{{area}}</h2>
         {% for PTjob in PTjob%}
         <div class="area">
            {{PTjob.5}}
         </div>
         <div class="company">
            {{PTjob.0}}
         </div>
         <div class="time">
            {{PTjob.1}}
         </div>
         <div class="title">
            <div class="href">
               <a href="{{PTjob.3}}">{{PTjob.2}}</a>
            </div>
         </div>
         <div class="saraly">
            {{PTjob.4}}</a>
         </div>
         <input type="button" value="應徵">
         <a href = '/main/search_book'>
            <input type="button" value="相關書籍">
            </a>
            {% comment %} <a href = '/main/govresource'>
            <input type="button" value="相關認證">
            </a> {% endcomment %}
            <br><br>
         {% endfor%}
         <br>
      </div>
   </body>
</html>
