<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人密碼重設</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <form action="{% url 'reset' %}" method="POST">
        {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message}}');
            </script>
            {% endfor %}
        {% endif %}
    {% csrf_token %}
    <h1>重設密碼</h1>
    <span>請輸入身分證或電子郵件：</span><input type="text" name="account" id="">
    <br>
    <span>請輸入新密碼：</span><input type="password" name="repass" id="">
    <br>
    <span>確認新密碼：</span><input type="password" name="checkpass" id="">
    <br>
    <input type="submit" value="提交">
    </form>
     <a href="/main/login">
        <button>返回登入</button>
    </a>
</body>
</html>