{% load static %}
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
   </head>
   <body>
      <div class="header">
         <div class="examinations">
            <h1>Books</h1>
            <div class="dropdown-content01">
               快速搜尋：
               <a href="/main/search_book?keyword=資料科學"><button>資料科學</button></a>
               <a href="/main/search_book?keyword=人工智慧"><button>人工智慧</button></a>
               <a href="/main/search_book?keyword=職涯發展"><button>職涯發展</button></a>
               <a href="/main/search_book?keyword=前端開發"><button>前端開發</button></a>
               <a href="/main/search_book?keyword=網頁設計"><button>網頁設計</button></a>
               <a href="/main/search_book?keyword=網站開發"><button>網站開發</button></a>
               <a href="/main/search_book?keyword=架站軟體"><button>架站軟體</button></a>
               <a href="/main/search_book?keyword=UI/UX"><button>UI/UX</button></a>
               <a href="/main/search_book?keyword=行動軟體開發"><button>行動軟體開發</button></a>
               <a href="/main/search_book?keyword=資料庫"><button>資料庫</button></a>
               <a href="/main/search_book?keyword=系統開發"><button>系統開發</button></a>
               <a href="/main/search_book?keyword=雲端計算"><button>雲端計算</button></a>
               <a href="/main/search_book?keyword=分散式架構"><button>分散式架構</button></a>
           </div>
            <form action="{% url 'search_book' %}" method="POST">
               {% csrf_token %}
               <input type="text" name="keyword" value="{{keyword}}" size="20">
               <input type="submit" value="搜尋">
            </form>
            {% for Booklist in Booklist%}
               <div class="Books_info">
                  
                  <div class="Books_title"> 
                     書名：{{Booklist.0}}
                  </div>
                  <div class="Books_price"> 
                     價格：{{Booklist.1}}
                  </div>
                  <div class="Books_data"> 
                     {{Booklist.2}}
                  </div>
                  <div class="Books_img"> 
                     <img width="140" alt="{{Booklist.0}}" src="{{Booklist.3}}">
                  </div>
               </div>
               <input type="submit" value="加入購物"><br>
            <br>
            {% endfor%}
            <a href="/main/index"><button>返回首頁</button></a>
         </div>
      </div>
   </body>
</html>