<body>
    <form action="{% url 'search104' %}" method="POST">
    {% csrf_token %}
    <h1>工作查詢</h1>
    <span>請輸入關鍵字：</span><input type="text" name="keyword" id="">
    <br>
    <span>頁數：</span><input type="password" name="num" id="">
    <br>
    <select id="cars" name="area">
      <option value="">地區</option>
      <option value="6001001000">台北市</option>
      <option value="6001002000">新北市</option>
      <option value="6001003000">宜蘭縣</option>
      <option value="6001004000">基隆市</option>
      <option value="6001005000">桃園市</option>
      <option value="6001006000">新竹縣市</option>
      <option value="6001007000">苗栗縣</option>
      <option value="6001008000">台中市</option>
      <option value="6001010000">彰化縣</option>
      <option value="6001011000">南投縣</option>
      <option value="6001012000">雲林縣</option>
      <option value="6001013000">嘉義縣市</option>
      <option value="6001014000">台南市</option>
      <option value="6001016000">高雄市</option>
      <option value="6001018000">屏東縣</option>
      <option value="6001019000">台東縣</option>
      <option value="6001020000">花蓮縣</option>
      <option value="6001021000">澎湖縣</option>
      <option value="6001022000">金門縣</option>
      <option value="6001023000">連江縣</option>
   </select>
   <br>
    <input type="submit" value="查詢">
    </form>
     <a href="/main/index">
        <button>返回首頁</button>
    </a>
    <div class="fullimejob">
        {% for FTjob in FTjob%}
        <div class="Work">
           {{FTjob.0}}
        </div>
        <div class="company">
            {{FTjob.1}}
         </div>
         <div class="WorkArea">
            {{FTjob.2}}
         </div>
        <div class="Exp">
           {{FTjob.3}}
        </div>
        <div class="Edu">
           {{FTjob.4}}
        </div>
        <div class="saraly">
           {{FTjob.5}}
        </div>
        <div class="title">
            <div class="href">
               <a href="{{FTjob.6}}">{{FTjob.6}}</a>
            </div>
         </div>
        <br>
        {% endfor%}
     </div>
</body>