<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>立即註冊-人才培訓進修網</title>
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <form action = "/main/signIn/" method = "POST">
        {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message}}');

            </script>
            {% endfor %}
        {% endif %}



        {% csrf_token %}
        <h1>求職者基本資料註冊</h1>
        <h6>請輸入你的個人資料</h6>
        <span>請輸入姓氏</span><input type="text" name="last_name" id="">
        <span>請輸入名字</span><input type="text" name="first_name" id="">
        <span>請輸入身分證或他國護照號碼</span><input type="text" name="pid" id="">
        <br>
        <span>請輸入電子郵件</span><input type="text" name="email" id="">
        <span>請輸入密碼</span><input type="password" name="passwd" id="">
        <br>
        <input type="submit" value="註冊" name='postsignIn'></form>
        <a href="/main/login">
            <h6>返回登入</h6>
            </a>
        </a>
        <a href="/main/company_signIn">
            <h6>切換企業註冊</h6>
        </a>
        <h6>使用其他帳戶註冊</h6>
        <input type="button" value="Sign Up With Apple">
        <input type="button" value="Sign Up With facebook">
        <input type="button" value="Sign Up With Google">
    </form>
</body>
</html>