.resume_style {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 70, 29);
    background-color: rgb(255, 250, 181);
}

.resume_style p{
    font-size: 25px;
}

.resume_style .user_name {
    position: relative;
    top: 0%;
    left: 0%;
    width: 40%;
    padding: 0.5%;
}

.resume_style .user_education {
    position: absolute;
    top: 0%;
    right: 0.5%;
    width: 50%;
    padding: 0.5%;
}

.resume_style .user_education textarea{
    width: 100%;
    padding: 0.5%;
}

.resume_style .user_skill {
    position: relative;
    left: 0%;
    width: 98%;
    padding: 0.5%;
}

.resume_style .user_skill textarea{
    width: 100%;
    padding: 5px;
    height: 10%;
}

.resume_style .user_experience {
    position: absolute;
    top: 60%;
    left: 0%;
    width: 98%;
    height: 50%;
    padding: 0.5%;
}

.resume_style .user_experience textarea{
    width: 100%;
    height: 50%;
}

.resume_style .user_selfintroduction {
    position: relative;
    left: 0%;
    width: 98%;
    height: 30%;
    padding: 0.5%;
}

.resume_style .user_selfintroduction textarea{
    width: 100%;
    height: 50%;
}