*{
   padding: 0;
   margin: 0;
}

.login{
    width: inherit;
    height:933px;
    background-color:#6b6b6b;
}

.loginBox{
    width: 600px;
    height: 650px;
    background-color:#404040;
    position: relative;
    top: 150px;
    left: 670px;
    border-radius: 4px;
}

.loginBox01{
    position: relative;
    top: 25px;
    text-align: center;
}
.loginBox01 .loginTitle{
    color:white;
    font-size:26px;
    font-weight:bolder;
}
.loginBox02{
    position: relative;
    top: 30px;
}
input{
    width: 400px;
    height: 35px;
    position:relative;
    margin-top: 25px;
    margin-left:93px;
}
 .button{
    width: 405px;
}
.loginBox03{
    display:flex;
    position: relative;
    top:40px;
}
.loginBox03 .Box03button{
    width: 155px;
    height:35px;
    background-color: red;
    margin-left: 95px;
    margin-top: 20px;
    border-radius: 4px;
}
.loginBox03 a{
    position: relative;
    list-style-type:none;
    text-decoration:none;
    text-align: center;
    color:white;
    font-size:20px;
    top:5px;
    font-weight:bolder;
}

.loginBox04{
    display:flex;
    position: relative;
    top:40px;
}

.loginBox04 .Box04button{
    width: 155px;
    height:35px;
    background-color: red;
    margin-left: 95px;
    margin-top: 20px;
    border-radius: 4px;
}

.loginBox04 a{
    list-style-type:none;
    text-decoration:none;
    color:white;
    font-size:20px;
    font-weight:bolder;
    text-align: center;
    position: relative;
    top:5px;
}
.loginBox05{
    position: relative;
    top:60px;    
}
.loginBox05 .Box05button{
    width:405px;
    height:35px;
    background-color: red;
    margin-left: 95px;
    margin-top: 20px;
    border-radius: 4px;
}

.loginBox05 a{
    list-style-type:none;
    text-decoration:none;
    color:white;
    font-size:20px;
    font-weight:bolder;
    position: relative;
    top:5px;
    left:50px;
}