body{
    margin: 0px;
    padding: 0px;
    background-color: #6b6b6b;
}

.header .logo a {
    text-decoration:none;
    color:white;
    transition: all .3s linear;
}
.header .logo a:hover{color:red;}

.header{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    padding:10px;
    background-color: #404040;
}
.header .menu .submenu{display: flex;}
.header .menu .submenu li{
    list-style-type:none;
    padding:8px;
}
.header .menu .submenu li a{
    color: white;
    text-decoration:none;
    font-weight:bolder;
    transition: all .3s linear;
}
.header .menu .submenu li a:hover{color:red;}

.resume_style{
    width:50%;
    height:650px;
    background-color:#404040;
    display:flex;
    margin-top:20px;
    margin-left:475px;
}
.user0101{
    list-style-type:none;
    margin-top: 20px;
    margin-left: 20px;
}
.user0101 .username{
    font-size:20px;
    font-weight:bolder;
    color:white;
    
}

.user02{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}
.user0201 li{
    list-style-type:none;
    font-size:20px;
    font-weight:bolder;
    color:white;
    margin-top: 20px;
}
.user0202 li{
    list-style-type:none;
    font-size:20px;
    font-weight:bolder;
    color:white;
    margin-top: 20px;
}
.user_education{
    display:flex;
    margin-left: 20px;
}
.user_experience{
    display:flex;
    margin-top:15px;
    margin-left: 20px;
}
.user_skill{
    display:flex;
    margin-top:55px;
    margin-left: 20px;
}
.user_selfintroduction{
    display:flex;
    margin-top:95px;
    margin-left: 20px;
}
textarea{
    width: 500px;
}
.Title{
    width:100px;
    height:50px;
    margin-top: 20px;
    position: relative;
    font-size:20px;
    color:white;
    font-weight:bolder;
}

.textArea{
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
.Box03{
    display:flex;
    width:inherit;
    width:53%;
    height: 35px;
    position: relative;
    margin-top: 20px;
    top:85%;
    left:-200px;
}
.Box03 a{
    list-style-type:none;
    text-decoration:none;
    width: 300px;
    font-size:20px;
    font-weight:bolder;
    color:white;
    margin-left:30px;
    position: relative;
    top: 5px;
}
.Box03 input{
    width:200px;
    height: 35px;
    font-size:20px;
    font-weight:bolder;
}

.footer{
    background-color: #404040;
    display: flex;
    margin-top:20px;
}

/* ------------------------------------------------- */
.footer .footerbox01{width: 50%;}
.footer .footerbox02{width: 50%;}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01{display: flex;}
.footer .footerbox01 .submainbox02 ul.menubox02{display: flex;}
.footer .footerbox02 .submainbox01 ul.menubox01{display: flex;}
.footer .footerbox02 .submainbox02 ul.menubox02{display: flex;}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 {display: flex;}
.footer .footerbox01 .submainbox02 {display: flex;}
.footer .footerbox02 .submainbox01 {display: flex;}
.footer .footerbox02 .submainbox02 {display: flex;}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 .titlebox01 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
.footer .footerbox01 .submainbox02 .titlebox02 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
.footer .footerbox02 .submainbox01 .titlebox01 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
.footer .footerbox02 .submainbox02 .titlebox02 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01 li{
    list-style-type:none;
    margin-left: 20px;
    margin-top:4px;
}
.footer .footerbox01 .submainbox02 ul.menubox02 li{
    list-style-type:none;
    margin-left: 20px;
    margin-top:4px;
}

.footer .footerbox02 .submainbox01 ul.menubox01 li{
    list-style-type:none;
    margin-top:8px;
    margin-right: 20px;
    color:white;
    font-weight: bolder;
}
.footer .footerbox02 .submainbox02 ul.menubox02 li{
    list-style-type:none;
    margin-left:20px;
    margin-top:4px;
}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01 li a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    transition: all .3s linear;
}

.footer .footerbox01 .submainbox02 ul.menubox02 li a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    transition: all .3s linear;
}

.footer .footerbox02 .submainbox02 ul.menubox02 li a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
    font-size:30px;
    transition: all .3s linear;
}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01 li a:hover{color:red;}
.footer .footerbox01 .submainbox02 ul.menubox02 li a:hover{color:red;}
.footer .footerbox02 .submainbox02 ul.menubox02 li a:hover{font-size:34px;}
