body{
    margin: 0px;
    padding: 0px;
    background-color: #6b6b6b;
}

.header .logo a {
    text-decoration:none;
    color:white;
    transition: all .3s linear;
}
.header .logo a:hover{color:red;}

.header{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    padding:20px;
    background-color: #404040;
}
.header .menu .submenu{display: flex;}
.header .menu .submenu li{
    list-style-type:none;
    padding:8px;
}
.header .menu .submenu li a{
    color: white;
    text-decoration:none;
    font-weight:bolder;
    transition: all .3s linear;
}
.header .menu .submenu li a:hover{color:red;}
.mainbox{
    display:flex;
    height: 600px;
    margin-top: 20px;
}

.mainbox .mainbox01{
    background-color:#404040;
    width: 15%;
    height:inherit;
}

.mainbox .mainbox01 .menu{
    list-style-type:none;
    padding: 20px;
    
}
    
.mainbox .mainbox01 .menu a{
    display:block;
    text-decoration:none;
    color:white;
    font-weight:bolder;
}

.itme-dropdown01 {
    position: relative;
    display:block;
    margin-top: 20px;
}

.mainbox02{
    background-color:#404040;
    width:85%;
    height:inherit;
}
.mainbox02 .Box01{
    margin-top:50px;
    text-align:center;
    font-size:20px;
}
.Box01 h1{
    font-weight:bolder;
    color:white;
}
.mainbox02 .Box02 {
    display:flex;
    height:45%;
}
.mainbox02 .Box02 .imgbutton{
    margin-top: 20px;
    margin-left:230px;
}
.footer{
    background-color: #404040;
    display: flex;
    margin-top:20px;
}

/* ------------------------------------------------- */
.footer .footerbox01{width: 50%;}
.footer .footerbox02{width: 50%;}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01{display: flex;}
.footer .footerbox01 .submainbox02 ul.menubox02{display: flex;}
.footer .footerbox02 .submainbox01 ul.menubox01{display: flex;}
.footer .footerbox02 .submainbox02 ul.menubox02{display: flex;}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 {display: flex;}
.footer .footerbox01 .submainbox02 {display: flex;}
.footer .footerbox02 .submainbox01 {display: flex;}
.footer .footerbox02 .submainbox02 {display: flex;}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 .titlebox01 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
.footer .footerbox01 .submainbox02 .titlebox02 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
.footer .footerbox02 .submainbox01 .titlebox01 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
.footer .footerbox02 .submainbox02 .titlebox02 p{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    color:white;
}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01 li{
    list-style-type:none;
    margin-left: 20px;
    margin-top:4px;
}
.footer .footerbox01 .submainbox02 ul.menubox02 li{
    list-style-type:none;
    margin-left: 20px;
    margin-top:4px;
}

.footer .footerbox02 .submainbox01 ul.menubox01 li{
    list-style-type:none;
    margin-top:8px;
    margin-right: 20px;
    color:white;
    font-weight: bolder;
}
.footer .footerbox02 .submainbox02 ul.menubox02 li{
    list-style-type:none;
    margin-left:20px;
    margin-top:4px;
}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01 li a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    transition: all .3s linear;
}

.footer .footerbox01 .submainbox02 ul.menubox02 li a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
    font-size: 20px;
    transition: all .3s linear;
}

.footer .footerbox02 .submainbox02 ul.menubox02 li a{
    text-decoration:none;
    color:white;
    font-weight: bolder;
    font-size:30px;
    transition: all .3s linear;
}
/* ------------------------------------------------- */
.footer .footerbox01 .submainbox01 ul.menubox01 li a:hover{color:red;}
.footer .footerbox01 .submainbox02 ul.menubox02 li a:hover{color:red;}
.footer .footerbox02 .submainbox02 ul.menubox02 li a:hover{font-size:34px;}