*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color:#808080;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    padding:20px;
    background-color: #404040;
}

.header .logo a {
    text-decoration:none;
    color:white;
    transition: all .3s linear;
}
.header .logo a:hover{color:red;}

.header .menu .submenu{display: flex;}
.header .menu .submenu li{
    list-style-type:none;
    padding:8px;
}
.header .menu .submenu li a{
    color: white;
    text-decoration:none;
    font-weight:bolder;
    transition: all .3s linear;
}
.header .menu .submenu li a:hover{color:red;}

.mainbox{
    display:flex;
    margin-top: 20px;
}

.mainbox01{
    background-color:#404040;
    width: 15%;
}
.mainbox01 .menu .itme-dropdown01 li {
    list-style-type:none;
    height: 50px;
}
.mainbox01 .menu .itme-dropdown01 li a {
    display:block;
    text-decoration:none;
    color:white;
    font-size:20px;
    font-weight:bolder;
    position: relative;
    top: 10px;
    text-align: center;
}
.mainbox0201 .dropdown-content01{
    width:1650px;
    height:50px;
    background-color:#404040;
    display:flex;
    list-style-type:none;
}
.mainbox0201 .dropdown-content01 a{
    text-decoration:none;
    position: relative;
    margin-left:20px;
    font-size:20px;
    font-weight:bolder;
    color:white;
    top: 10px;
}
.dropdown-content01 .inputbox{
    position: relative;
    top:6px;
    margin-left: 10px;
    width:170px;
    height:35px;
}
.dropdown-content01 .button{
    position: relative;
    top:6px;
    margin-left: 10px;
    width:80px;
    height:35px;
    border:none;
    border-radius:4px;
}
.mainbox0202 .Books_info{
    background-color: yellow;
    margin-top:10px;
    display: flex;
}
.mainbox0202 .Book_info01{
    margin-left: 50px;
}
.mainbox0202 .Book_info01 .Books_img img{
    width:100px;
    height:100px;
}
.mainbox0202 .Book_info02{
    width:80%;
}
.mainbox0202 .Book_info02 .Books_title{
    font-size:20px;
    font-weight:bolder;
    margin-top: 20px;
    margin-left: 50px;
}
.mainbox0202 .Book_info02 .Books_data{
    font-size:20px;
    font-weight:bolder;
    margin-top: 20px;
    margin-left: 50px;
}
.mainbox0202 .Book_info03{
    width: 20%;
}

.mainbox0202 .Book_info03 .Books_price{
    font-size:20px;
    font-weight:bolder;
    margin-top: 20px;
    margin-left:150px;
}
.mainbox0202 .Book_info03 .Books_button{
    list-style-type:none;
    font-size:20px;
    font-weight:bolder;
    margin-top: 20px;
    margin-left:60px;
    width: 200px;
    height:35px;
    background-color: red;
    border-radius:4px;
}
.mainbox0202 .Book_info03 .Books_button a{
    text-decoration:none;
    color:white;
    text-align: center;
    position: relative;
    top:5px;
    
}